@include def-font(default) {
    font-size: 14px;
    color: $dark-blue;
}

@include def-font(blue)      { color: $blue; }
@include def-font(dark-gray) { color: $dark-gray; }
@include def-font(gray)      { color: $gray; }
@include def-font(orange)    { color: $orange; }
@include def-font(white)     { color: $white; }
@include def-font(yellow)    { color: $yellow; }

@include def-font(link) {
    @include font(blue);

    &:hover, &:focus {
        @include font(yellow);
    }
}

@include def-font(white-link) {
    @include font(white);

    &:hover, &:focus {
        @include font(gray);
    }
}

@include def-font(large) {
    font-size: 18px;
}

@include def-font(small) {
    font-size: 12px;
}

@include def-font(light) {
    font-weight: 200;
}
