* {
    box-sizing: border-box;
}

html {
    --blue: #173c4e;
    --yellow: #d7bd27;

    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.35em;
    color: var(--blue);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a img {
    border: none;
}

footer, header, section, main {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: bold;
    font-size: 1rem;
}

.resources {
    max-width: 1300px;
    width: 96%;
    margin: 0 auto 1em auto;
}

.split-section {
    display: flex;
    flex-direction: row;
}

.split-section ._left,
.split-section ._right {
    width: 100%;
    padding: 0 .5em;
}

.split-section.symmetric ._left {
    text-align: right;
}

.page-header_description,
.page-header > ._description,
.page-header[data-octave~=_description] ._description,
.page-header[data-octave~=_] ._description,
.resources h3,
.resources_note,
.resources > ._note,
.resources[data-octave~=_note] ._note,
.resources[data-octave~=_] ._note,
em {
    font-style: italic;
}

a,
.page-footer_blue,
.page-footer > ._blue,
.page-footer[data-octave~=_blue] ._blue,
.page-footer[data-octave~=_] ._blue {
    color: #416b80;
}

.page-main_call-to-action,
.page-main > ._call-to-action,
.page-main[data-octave~=_call-to-action] ._call-to-action,
.page-main[data-octave~=_] ._call-to-action,
.resources h3,
.resources_note,
.resources > ._note,
.resources[data-octave~=_note] ._note,
.resources[data-octave~=_] ._note,
.resources_description,
.resources > ._description,
.resources[data-octave~=_description] ._description,
.resources[data-octave~=_] ._description {
    color: #777777;
}

.page-header_social a:hover,
.page-header > ._social a:hover,
.page-header[data-octave~=_social] ._social a:hover,
.page-header[data-octave~=_] ._social a:hover,
.page-header_social a:focus,
.page-header > ._social a:focus,
.page-header[data-octave~=_social] ._social a:focus,
.page-header[data-octave~=_] ._social a:focus {
    color: #e6e6e6;
}

.page-header_social a,
.page-header > ._social a,
.page-header[data-octave~=_social] ._social a,
.page-header[data-octave~=_] ._social a,
.button,
.page-header_description,
.page-header > ._description,
.page-header[data-octave~=_description] ._description,
.page-header[data-octave~=_] ._description {
    color: white;
}

a:hover,
a:focus,
.page-footer_yellow,
.page-footer > ._yellow,
.page-footer[data-octave~=_yellow] ._yellow,
.page-footer[data-octave~=_] ._yellow {
    color: var(--yellow);
}

.page-header_social a,
.page-header > ._social a,
.page-header[data-octave~=_social] ._social a,
.page-header[data-octave~=_] ._social a {
    text-shadow: 0 -1px 0 rgba(51, 51, 51, 0.5);
}

.page-footer,
.resources h3,
.resources_note,
.resources > ._note,
.resources[data-octave~=_note] ._note,
.resources[data-octave~=_] ._note,
.resources_description,
.resources > ._description,
.resources[data-octave~=_description] ._description,
.resources[data-octave~=_] ._description {
    font-size: 14px;
}

.button {
    padding: 10px;
    border-radius: 5px;
    background: #416b80;
}

.button:hover,
.button:focus {
    background: var(--yellow);
}

.page {
    background: #f3f3f3;
}

.page-footer {
    max-width: 640px;
    width: 96%;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
}

.page-footer_about,
.page-footer > ._about,
.page-footer[data-octave~=_about] ._about,
.page-footer[data-octave~=_] ._about {
    overflow: hidden;
    margin: 0 auto;
}

.page-footer_about p,
.page-footer > ._about p,
.page-footer[data-octave~=_about] ._about p,
.page-footer[data-octave~=_] ._about p {
    margin-bottom: 20px;
}

.page-footer_extra-information,
.page-footer > ._extra-information,
.page-footer[data-octave~=_extra-information] ._extra-information,
.page-footer[data-octave~=_] ._extra-information {
    text-align: center;
}

.page-header {
    background-color: #416b80;
    background-image: linear-gradient(to bottom, #4a7991, #416b80);
    border-bottom: 2px solid #385d6f;
    position: fixed;
    width: 100%;
}

.page-header:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.page-header:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.page-header_logo,
.page-header > ._logo,
.page-header[data-octave~=_logo] ._logo,
.page-header[data-octave~=_] ._logo {
    display: block;
    text-indent: -999999px;
    width: 200px;
    height: 32px;
    margin: 14px 20px;
    float: left;
    background: url("/images/logo.png") no-repeat center left;
    background-size: 198px 32px;
}

.page-header_description,
.page-header > ._description,
.page-header[data-octave~=_description] ._description,
.page-header[data-octave~=_] ._description {
    padding: 14px;
    float: left;
    line-height: 32px;
}

.page-header_social,
.page-header > ._social,
.page-header[data-octave~=_social] ._social,
.page-header[data-octave~=_] ._social {
    margin: 14px;
    float: right;
}

.page-header_social li,
.page-header > ._social li,
.page-header[data-octave~=_social] ._social li,
.page-header[data-octave~=_] ._social li {
    float: left;
    width: 60px;
}

.page-header_social a,
.page-header > ._social a,
.page-header[data-octave~=_social] ._social a,
.page-header[data-octave~=_] ._social a {
    display: block;
    padding: 0 20px;
}

.page-header_social i,
.page-header > ._social i,
.page-header[data-octave~=_social] ._social i,
.page-header[data-octave~=_] ._social i {
    line-height: 32px;
}

.page-main {
    background: white;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 72px;
    width: 100%;
}

.page-main:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.page-main:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.page-main_call-to-action,
.page-main > ._call-to-action,
.page-main[data-octave~=_call-to-action] ._call-to-action,
.page-main[data-octave~=_] ._call-to-action {
    padding: 20px 0;
    line-height: 60px;
    text-align: center;
    clear: both;
}

.resources:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.resources:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.resources ul {
    margin-bottom: 20px;
}

.resources li {
    margin: 10px 0;
}

._header {
    font-weight: bold;
}

.resources_header,
.resources > ._header,
.resources[data-octave~=_header] ._header,
.resources[data-octave~=_] ._header {
    padding: 10px;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 10px;
}

.resources_name,
.resources > ._name,
.resources[data-octave~=_name] ._name,
.resources[data-octave~=_] ._name {
    display: block;
    text-indent: -20px;
    padding-left: 20px;
}

@media (max-width: 600px) {
    .split-section {
        flex-direction: column;
    }
    .split-section.symmetric ._left {
        text-align: left;
    }
}

@media (max-width: 960px) {
    .page-header {
        position: static;
    }

    .page-header_logo,
    .page-header > ._logo,
    .page-header[data-octave~=_logo] ._logo,
    .page-header[data-octave~=_] ._logo {
        float: none;
        margin: 0;
        width: 100%;
        background-position: center center;
        height: 50px;
    }

    .page-header_description,
    .page-header > ._description,
    .page-header[data-octave~=_description] ._description,
    .page-header[data-octave~=_] ._description {
        display: none;
    }

    .page-header_social,
    .page-header > ._social,
    .page-header[data-octave~=_social] ._social,
    .page-header[data-octave~=_] ._social {
        display: none;
    }

    .page-main {
        padding-top: 10px;
    }

    .page-main_call-to-action,
    .page-main > ._call-to-action,
    .page-main[data-octave~=_call-to-action] ._call-to-action,
    .page-main[data-octave~=_] ._call-to-action {
        display: none;
    }

    .resources_name,
    .resources > ._name,
    .resources[data-octave~=_name] ._name,
    .resources[data-octave~=_] ._name {
        text-indent: 0;
        padding-left: 0;
    }
}

