* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a {
  color: inherit;
  text-decoration: inherit; }
  a img {
    border: none; }

article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]), [hidden] {
  display: none; }

meta {
  display: none !important; }

html:not(#_1) .resources h2, html:not(#_1) .resources_header, html:not(#_1) .resources > ._header, html:not(#_1) .resources > meta[data-use~=header] ~ * .header, html:not(#_1) .resources > meta[data-import~=header] ~ * ._header, html:not(#_1) .resources > meta[data-import-all] ~ * ._header, html {
  color: black;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  text-transform: none; }
html:not(#_1) .resources h2, html:not(#_1) .resources_header, html:not(#_1) .resources > ._header, html:not(#_1) .resources > meta[data-use~=header] ~ * .header, html:not(#_1) .resources > meta[data-import~=header] ~ * ._header, html:not(#_1) .resources > meta[data-import-all] ~ * ._header, html strong,
html h1, html h2, html h3, html h4, html h5, html h6,
html th {
  font-weight: bold; }
html:not(#_1) .events_location, html:not(#_1) .events > ._location, html:not(#_1) .events > meta[data-use~=location] ~ * .location, html:not(#_1) .events > meta[data-import~=location] ~ * ._location, html:not(#_1) .events > meta[data-import-all] ~ * ._location, html .page-header_description, html .page-header > ._description, html .page-header > meta[data-use~=description] ~ * .description, html .page-header > meta[data-import~=description] ~ * ._description, html .page-header > meta[data-import-all] ~ * ._description, html em {
  font-style: italic; }
html .page-header_description, html .page-header > ._description, html .page-header > meta[data-use~=description] ~ * .description, html .page-header > meta[data-import~=description] ~ * ._description, html .page-header > meta[data-import-all] ~ * ._description {
  text-align: center; }
html:not(#_1) .resources h2, html:not(#_1) .resources_header, html:not(#_1) .resources > ._header, html:not(#_1) .resources > meta[data-use~=header] ~ * .header, html:not(#_1) .resources > meta[data-import~=header] ~ * ._header, html:not(#_1) .resources > meta[data-import-all] ~ * ._header, html {
  font-size: 14px;
  color: #333333; }
html a, html .page-footer_blue, html .page-footer > ._blue, html .page-footer > meta[data-use~=blue] ~ * .blue, html .page-footer > meta[data-import~=blue] ~ * ._blue, html .page-footer > meta[data-import-all] ~ * ._blue {
  color: #416b80; }
html:not(#_1) .events_description, html:not(#_1) .events > ._description, html:not(#_1) .events > meta[data-use~=description] ~ * .description, html:not(#_1) .events > meta[data-import~=description] ~ * ._description, html:not(#_1) .events > meta[data-import-all] ~ * ._description, html:not(#_1) .events_location, html:not(#_1) .events > ._location, html:not(#_1) .events > meta[data-use~=location] ~ * .location, html:not(#_1) .events > meta[data-import~=location] ~ * ._location, html:not(#_1) .events > meta[data-import-all] ~ * ._location, html:not(#_1) .resources p {
  color: #777777; }
html .page-header_social a:hover, html .page-header > ._social a:hover, html .page-header > meta[data-use~=social] ~ * .social a:hover, html .page-header > meta[data-import~=social] ~ * ._social a:hover, html .page-header > meta[data-import-all] ~ * ._social a:hover, html .page-header_social a:focus, html .page-header > ._social a:focus, html .page-header > meta[data-use~=social] ~ * .social a:focus, html .page-header > meta[data-import~=social] ~ * ._social a:focus, html .page-header > meta[data-import-all] ~ * ._social a:focus {
  color: #e6e6e6; }
html a:hover, html a:focus, html .page-footer_green, html .page-footer > ._green, html .page-footer > meta[data-use~=green] ~ * .green, html .page-footer > meta[data-import~=green] ~ * ._green, html .page-footer > meta[data-import-all] ~ * ._green {
  color: #9bbf3b; }
html .page-header_social a, html .page-header > ._social a, html .page-header > meta[data-use~=social] ~ * .social a, html .page-header > meta[data-import~=social] ~ * ._social a, html .page-header > meta[data-import-all] ~ * ._social a, html:not(#_1):not(#_2) .button, html .page-header_description, html .page-header > ._description, html .page-header > meta[data-use~=description] ~ * .description, html .page-header > meta[data-import~=description] ~ * ._description, html .page-header > meta[data-import-all] ~ * ._description {
  color: white; }
html .page-header_description, html .page-header > ._description, html .page-header > meta[data-use~=description] ~ * .description, html .page-header > meta[data-import~=description] ~ * ._description, html .page-header > meta[data-import-all] ~ * ._description {
  font-size: 18px; }
html:not(#_1) .events_description, html:not(#_1) .events > ._description, html:not(#_1) .events > meta[data-use~=description] ~ * .description, html:not(#_1) .events > meta[data-import~=description] ~ * ._description, html:not(#_1) .events > meta[data-import-all] ~ * ._description, html:not(#_1) .events_location, html:not(#_1) .events > ._location, html:not(#_1) .events > meta[data-use~=location] ~ * .location, html:not(#_1) .events > meta[data-import~=location] ~ * ._location, html:not(#_1) .events > meta[data-import-all] ~ * ._location, html .page-footer, html:not(#_1) .resources p {
  font-size: 12px; }
html:not(#_1):not(#_2) .button {
  padding: 10px;
  border-radius: 5px;
  background: #416b80; }
  html:not(#_1):not(#_2) .button:hover, html:not(#_1):not(#_2) .button:focus {
    background: #9bbf3b; }
html:not(#_1) .events {
  float: left;
  width: 50%;
  padding: 20px 10px 20px 20px; }
  html:not(#_1) .events table {
    width: 100%; }
  html:not(#_1) .events th {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6; }
  html:not(#_1) .events td {
    vertical-align: top;
    border-top: 1px solid #e6e6e6;
    padding: 10px; }
  html:not(#_1) .events thead {
    border-bottom: 1px solid #f3f3f3; }
  html:not(#_1) .events tbody tr:nth-child(even) {
    background: #f3f3f3; }
html .page {
  background: #f3f3f3;
  min-width: 960px; }
html .page-footer {
  padding: 20px; }
  html .page-footer_left, html .page-footer > ._left, html .page-footer > meta[data-use~=left] ~ * .left, html .page-footer > meta[data-import~=left] ~ * ._left, html .page-footer > meta[data-import-all] ~ * ._left {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 10px; }
  html .page-footer_right, html .page-footer > ._right, html .page-footer > meta[data-use~=right] ~ * .right, html .page-footer > meta[data-import~=right] ~ * ._right, html .page-footer > meta[data-import-all] ~ * ._right {
    float: right;
    width: 50%;
    text-align: left;
    padding-left: 10px; }
  html .page-footer_about, html .page-footer > ._about, html .page-footer > meta[data-use~=about] ~ * .about, html .page-footer > meta[data-import~=about] ~ * ._about, html .page-footer > meta[data-import-all] ~ * ._about {
    overflow: hidden;
    width: 640px;
    margin: 0 auto; }
    html .page-footer_about p, html .page-footer > ._about p, html .page-footer > meta[data-use~=about] ~ * .about p, html .page-footer > meta[data-import~=about] ~ * ._about p, html .page-footer > meta[data-import-all] ~ * ._about p {
      margin-bottom: 20px; }
  html .page-footer_extra-information, html .page-footer > ._extra-information, html .page-footer > meta[data-use~=extra-information] ~ * .extra-information, html .page-footer > meta[data-import~=extra-information] ~ * ._extra-information, html .page-footer > meta[data-import-all] ~ * ._extra-information {
    text-align: center; }
html .page-header {
  zoom: 1;
  border-bottom: 1px solid #e6e6e6;
  padding: 50px 0;
  background: url("/images/background.jpg") no-repeat center bottom;
  background-size: cover; }
  html .page-header:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  html .page-header:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  html .page-header_logo, html .page-header > ._logo, html .page-header > meta[data-use~=logo] ~ * .logo, html .page-header > meta[data-import~=logo] ~ * ._logo, html .page-header > meta[data-import-all] ~ * ._logo {
    display: block;
    text-indent: -999999px;
    height: 80px;
    margin: 0 auto 20px;
    background: url("/images/logo.png") no-repeat center center;
    background-size: 480px; }
  html .page-header_description, html .page-header > ._description, html .page-header > meta[data-use~=description] ~ * .description, html .page-header > meta[data-import~=description] ~ * ._description, html .page-header > meta[data-import-all] ~ * ._description {
    padding: 20px;
    background: rgba(51, 51, 51, 0.5);
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333; }
  html .page-header_social, html .page-header > ._social, html .page-header > meta[data-use~=social] ~ * .social, html .page-header > meta[data-import~=social] ~ * ._social, html .page-header > meta[data-import-all] ~ * ._social {
    width: 180px;
    margin: 0 auto; }
    html .page-header_social li, html .page-header > ._social li, html .page-header > meta[data-use~=social] ~ * .social li, html .page-header > meta[data-import~=social] ~ * ._social li, html .page-header > meta[data-import-all] ~ * ._social li {
      float: left;
      width: 60px; }
    html .page-header_social a, html .page-header > ._social a, html .page-header > meta[data-use~=social] ~ * .social a, html .page-header > meta[data-import~=social] ~ * ._social a, html .page-header > meta[data-import-all] ~ * ._social a {
      display: block;
      padding: 0 20px; }
    html .page-header_social i, html .page-header > ._social i, html .page-header > meta[data-use~=social] ~ * .social i, html .page-header > meta[data-import~=social] ~ * ._social i, html .page-header > meta[data-import-all] ~ * ._social i {
      line-height: 60px; }
html .page-main {
  zoom: 1;
  background: white;
  border-bottom: 1px solid #e6e6e6; }
  html .page-main:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  html .page-main:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
html:not(#_1) .resources {
  zoom: 1;
  float: left;
  width: 50%;
  padding: 20px 20px 20px 10px; }
  html:not(#_1) .resources:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  html:not(#_1) .resources:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  html:not(#_1) .resources h2 {
    margin-bottom: 10px; }
  html:not(#_1) .resources ul {
    margin-bottom: 20px; }
  html:not(#_1) .resources li {
    margin-bottom: 10px; }
  html:not(#_1) .resources a {
    display: block;
    text-indent: -20px;
    padding-left: 20px; }
  html:not(#_1) .resources_header, html:not(#_1) .resources > ._header, html:not(#_1) .resources > meta[data-use~=header] ~ * .header, html:not(#_1) .resources > meta[data-import~=header] ~ * ._header, html:not(#_1) .resources > meta[data-import-all] ~ * ._header {
    padding: 10px;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 10px; }
  html:not(#_1) .resources_legend, html:not(#_1) .resources > ._legend, html:not(#_1) .resources > meta[data-use~=legend] ~ * .legend, html:not(#_1) .resources > meta[data-import~=legend] ~ * ._legend, html:not(#_1) .resources > meta[data-import-all] ~ * ._legend {
    float: right; }
  html:not(#_1) .resources_left, html:not(#_1) .resources > ._left, html:not(#_1) .resources > meta[data-use~=left] ~ * .left, html:not(#_1) .resources > meta[data-import~=left] ~ * ._left, html:not(#_1) .resources > meta[data-import-all] ~ * ._left {
    float: left;
    width: 50%;
    padding: 0 10px; }
  html:not(#_1) .resources_right, html:not(#_1) .resources > ._right, html:not(#_1) .resources > meta[data-use~=right] ~ * .right, html:not(#_1) .resources > meta[data-import~=right] ~ * ._right, html:not(#_1) .resources > meta[data-import-all] ~ * ._right {
    float: left;
    width: 50%;
    padding: 0 10px; }
