<!DOCTYPE html>
<html ng-app="Startup">
    <head>
        <meta charset="utf-8">
        <meta property="og:description" content="A portal to Berkeley's entrepreneurial ecosystem.">
        <meta property="og:image" content="http://startup.berkeley.edu/images/facebook-graph.png">
        <meta property="og:site_name" content="Startup@Berkeley">
        <meta property="og:type" content="company">
        <meta property="og:title" content="Startup@Berkeley">

        <link rel="shortcut icon" href="/favicon.ico">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/application.css">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script src="/js/application.js"></script>

        <title>Startup@Berkeley</title>
    </head>

    <body>
        <div class="page">
            <header class="page-header">
                <a href="#" class="_logo">Startup@Berkeley</a>

                <p class="_description">
                    <strong>Learn. Build. Fund.</strong> We connect student entrepreneurs with UC Berkeley's startup ecosystem.
                </p>

                <ul class="_social">
                    <li>
                        <a href="https://www.facebook.com/groups/startupatberkeley/">
                            <i class="fa fa-facebook-square fa-2x"></i>
                        </a>
                    </li>

                    <li>
                        <a href="http://twitter.com/StartupAtBerk">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </li>

                    <li>
                        <a href="http://bit.ly/stabnewsletter">
                            <i class="fa fa-envelope fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </header>

            <main class="page-main">
                <section class="events" ng-controller="Events">
                    <meta class="_description _location">

                    <table>
                        <thead>
                            <tr>
                                <th style="width: 10%">Date</th>
                                <th style="width: 10%">Price</th>
                                <th style="width: 80%">Event</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="event in events">
                                <td><strong ng-bind="event.date"></strong></td>
                                <td ng-bind="event.price"></td>
                                <td>
                                    <a ng-href="{{ event.url }}" ng-bind="event.name"></a>
                                    <p class="_description" ng-bind="event.description"></p>
                                    <p class="_location" ng-if="event.location">
                                    @ <span ng-bind="event.location"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="resources">
                    <meta class="_description">

                    <div class="_header">Resources</div>

                    <div class="_left">
                        <h2>Student Groups</h2>

                        <ul>
                            <li>
                                <a href="http://csua.berkeley.edu/">Computer Science Undergraduate Association</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://hackersatberkeley.com/">Hackers@Berkeley</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://www.innod.net/">Innovative Design</a>
                                <p></p>
                            </li>
                        </ul>

                        <h2>Competitions</h2>

                        <ul>
                            <li>
                                <a href="http://bigideas.berkeley.edu/">Big Ideas@Berkeley</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://bplan.berkeley.edu/">Bplan: Berkeley Startup Competition</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://www.gsvc.org/about_gsvc/our_partners/haas_school_of_business_-_uc_berkeley/">Global Social Venture Competition</a>
                                <p></p>
                            </li>
                        </ul>

                        <h2>Entrepreneurship Centers</h2>

                        <ul>
                            <li>
                                <a href="http://cet.berkeley.edu/">College of Engineering Center for Entrepreneurship and Technology</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://entrepreneurship.berkeley.edu/">Haas School of Business Lester Center for Entrepreneurship</a>
                                <p></p>
                            </li>
                        </ul>

                        <h2>Entrepreneurship Associations</h2>

                        <ul>
                            <li>
                                <a href="http://haas.campusgroups.com/ea">Berkeley Entrepreneurship Association</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://bpep.berkeley.edu/">Berkeley Postdoctoral Entrepreneurs Program</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://csge.berkeley.edu/">Computer Science Graduate Entrepreneurs</a>
                                <p></p>
                            </li>
                        </ul>
                    </div>

                    <div class="_right">
                        <h2>Incubators</h2>

                        <ul>
                            <li>
                                <a href="http://foundry.citris-uc.org/">The Foundry @ CITRIS</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://skydeck.berkeley.edu">SkyDeck</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://www.freeventures.org/">Free Ventures</a>
                                <p></p>
                            </li>
                        </ul>

                        <h2>Funding Resources</h2>

                        <ul>
                            <li>
                                <a href="http://www.alsop-louie.com/">Alsop Louie Partners</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://beepartners.vc/">Bee Partners</a>
                                <p></p>
                            </li>

                            <li>
                                <a href="http://dormroomfund.com/">Dorm Room Fund</a>
                                <p></p>
                            </li>
                        </ul>

                        <h2>Alumni</h2>

                        <ul>
                            <li>
                                <a href="http://calfounders.com/">CalFounders</a>
                                <p></p>
                            </li>
                        </ul>
                    </div>
                </section>
            </main>

            <footer class="page-footer">
                <meta class="_left _right _yellow _blue">

                <div class="_about">
                    <div class="_left">
                        <h2>About <span class="_blue">Startup</span><span class="_yellow">@</span><span class="_blue">Berkeley</span></h2>

                        <p>
                            <em>Startup@Berkeley</em> connects student entrepreneurs with the University of California, Berkeley's startup ecosystem through curated online resources. Members of ST@B have gone on to found a number of their own companies, including <a href="http://likeness.com/">Ness</a>, <a href="http://copilotlabs.com/">Copilot</a>, <a href="http://crazyegg.com/">CrazyEgg</a>, and <a href="http://www.kissmetrics.com/">KISSmetrics</a>.
                        </p>

                        <p>
                            For more information regarding Startup@Berkeley, how to get involved on campus, and how to get your event or organization listed, please feel free to <a href="mailto:team@startup.berkeley.edu">reach out</a>.
                        </p>
                    </div>

                    <div class="_right">
                        <p>
                            <strong>President:</strong> <a href="http://kern.io">Alex Kern</a>
                        </p>

                        <p>
                            <strong>Team:</strong>
                            <a href="http://linkedin.com/pub/alexander-gavriel/68/171/77">Alex Gavriel</a>,
                            <a href="http://linkedin.com/in/alfongj">Alfonso Gómez-Jordana</a>,
                            <a href="http://linkedin.com/pub/olive-chang-liu/63/8b6/ab3">Chang Liu</a>,
                            <a href="http://dhruvarora.me/">Dhruv Arora</a>,
                            <a href="http://about.me/eva_zheng">Eva Zheng</a>,
                            <a href="http://linkedin.com/pub/joshua-shirazi/40/585/84">Joshua Shirazi</a>,
                            <a href="http://linkedin.com/in/moulaydriss">Moulay Driss</a>,
                            <a href="http://linkedin.com/pub/nicholas-moschopoulos/80/801/b2">Nicholas Moschopoulos</a>,
                            <a href="http://rtsao.com">Rachel Tsao</a>,
                            <a href="http://linkedin.com/pub/rick-ling/5b/87/700">Rick Ling</a>,
                            <a href="http://linkedin.com/pub/ryan-kang/38/595/1ba">Ryan Kang</a>,
                            <a href="http://linkedin.com/pub/sargunjot-kaur/45/429/297/">Sargun Kaur</a>,
                            <a href="http://linkedin.com/pub/sebastian-merz/58/83/141">Sebastian Merz</a>,
                            <a href="http://stevenbuccini.com/">Steven Buccini</a>,
                            <a href="http://linkedin.com/pub/tom-yet/73/570/505/">Tom Yet</a>
                        </p>

                        <p>
                            <strong>Alumni:</strong> Rohit Turumella, Paul Fang, Tarun Chaudhry, Corey Reese, Hiten Shah, Nima Wedlake, Krutal Desai, Eli Chait, George Dy, Kevin Gong, Brent Locks
                        </p>
                    </div>
                </div>

                <div class="_extra-information">
                    <p>
                        <a href="http://www.ocf.berkeley.edu"><img src="http://www.ocf.berkeley.edu/images/hosted-logos/ocfbadge_platinum.png" alt="Hosted by the OCF" /></a>
                    </p>

                    <p>
                        <a href="https://www.facebook.com/groups/startupatberkeley/">Facebook</a>
                        &middot;
                        <a href="http://twitter.com/StartupAtBerk">Twitter</a>
                        &middot;
                        <a href="http://bit.ly/stabnewsletter">Newsletter</a>
                        &middot;
                        <a href="mailto:team@startup.berkeley.edu">Contact</a>
                        &middot;
                        Made at <strong>Cal</strong> on a &#xF8FF; with &hearts;.
                    </p>

                    <p>
                        Released under the <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                        <a href="https://github.com/kern/startup.berkeley.edu">Fork us</a>.
                    </p>
                </div>
            </footer>
        </div>

        <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-43025140-1', 'startup.berkeley.edu');
ga('send', 'pageview');
        </script>
    </body>
</html> 
