@include def-module(events) {
	@include font(events);
	padding: 0 20px 20px 20px;

    iframe {
        display: block;
        border: 0;
        width: 100%;
        height: 640px;
        max-height: 60vh;
    }

	@include def-module(header) {
		@include font(bold);
		padding: 10px;
		border-bottom: 2px solid $gray;
		margin-bottom: 10px;
	}

	@include def-module(embed) {
	    overflow: auto;
	    -webkit-overflow-scrolling: touch;
    }
}
