@include def-module(page-main) {
    @include clearfix;
    background: $white;
    border-bottom: 1px solid $gray;

    @include def-module(call-to-action) {
        @include font(dark-gray);
        padding: 20px 0;
        line-height: 60px;
        text-align: center;
    }
}
