@include def-module(page-header) {
    @include clearfix;
    border-bottom: 1px solid $gray;
    padding: 50px 0;
    background: url("/images/background.jpg") no-repeat center bottom;
    background-size: cover;

    @include def-module(logo) {
        display: block;
        text-indent: -999999px;
        height: 80px;
        margin: 0 auto 20px;
        background: url("/images/logo.png") no-repeat center center;
        background-size: 480px;
    }

    @include def-module(description) {
        @include font(center large white italic);
        padding: 20px;
        background: transparentize($black, 0.25);
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
    }

    @include def-module(social) {
        width: 180px;
        margin: 0 auto;

        li {
            float: left;
            width: 60px;
        }

        a {
            @include font(white-link);
            display: block;
            padding: 0 20px;
        }

        i {
            line-height: 60px;
        }
    }
}
