@include def-module(resources) {
	@include clearfix;

	// margin: 0 auto;
	// max-width: 960px;
	// padding: 20px;

	float: right;
	width: 50%;
	padding: 20px 20px 20px 10px;

	h2 {
		@include font(bold);
	}

	h3 {
		@include font(small italic dark-gray);
	}

	ul {
		margin-bottom: 20px;
	}

	li {
		margin: 10px 0;
	}

	@include def-module(left) {
		float: left;
		width: 50%;
		padding: 0 10px;
	}

	@include def-module(right) {
		float: left;
		width: 50%;
		padding: 0 10px;
	}

	@include def-module(header) {
		@include font(bold);
		padding: 10px;
		border-bottom: 2px solid $gray;
		margin-bottom: 10px;
	}

    @include def-module(note) {
        @include font(small dark-gray italic);
    }

	@include def-module(name) {
	    display: block;
	    text-indent: -20px;
	    padding-left: 20px;
    }

	@include def-module(description) {
	    @include font(small dark-gray);
    }
}
