@include def-module(resources) {
	@include clearfix;
	float: left;
	width: 50%;
	padding: 20px 20px 20px 10px;

	h2 {
		@include font(default bold);
	}

	ul {
		margin-bottom: 20px;
	}

	li {
		text-indent: -20px;
		padding-left: 20px;
	}

	@include def-module(header) {
		@include font(default bold);
		padding: 10px;
		border-bottom: 2px solid $gray;
		margin-bottom: 10px;
	}

	@include def-module(legend) {
	    float: right;
    }

	@include def-module(left) {
		float: left;
		width: 50%;
		padding: 0 10px;
	}

	@include def-module(right) {
		float: left;
		width: 50%;
		padding: 0 10px;
	}
}
