$default-color: black !default;
$default-font-style: normal !default;
$default-font-variant: normal !default;
$default-font-weight: normal !default;
$default-font-size: 12px !default;
$default-line-height: 20px !default;
$default-font-family: 'Helvetica Neue', Helvetica, sans-serif !default;
$default-text-decoration: none !default;
$default-text-transform: none !default;

$fonts: ();
$current-font: ();

@mixin def-font($name...) {
	$name: list($name);

	$parent-font: $current-font;
	$current-font: join($current-font, $name) !global;
	$fonts: tree-add($fonts, $current-font) !global;

	@include def-resource(font, $current-font) {
		@if not resource-defined(keystone, font, default) {
			@include def-resource(keystone, font, default) {
				color: $default-color;
				font-style: $default-font-style;
				font-variant: $default-font-variant;
				font-weight: $default-font-weight;
				font-size: $default-font-size;
				line-height: $default-line-height;
				font-family: $default-font-family;
				text-decoration: $default-text-decoration;
				text-transform: $default-text-transform;
			}
		}

		@include resource(keystone, font, default);
		@content;
	}

	$current-font: $parent-font !global;
}

@mixin font($name...) {
	@include resource(font, list($name));
}
