@include def-module(page) {
	background: $light-gray;
	min-width: 960px;

	@include def-module(header) {
		position: fixed;
		z-index: 1;
		overflow: auto;
		width: 100%;
		border-bottom: 1px solid $gray;
		background: $white;

		@media (max-width: 959px) {
			position: static;
		}

		@include def-module(logo) {
			display: block;
			float: left;
			text-indent: -999999px;
			width: 220px;
			height: 60px;
			background: url("/images/logo.png") no-repeat center center;
			background-size: 180px 29px;
		}

		@include def-module(nav) {
			float: right;

			li {
				float: left;
			}

			a {
				@include font(header, nav);
				display: block;
				padding: 20px;
			}
		}
	}

	@include def-module(main) {
		@include clearfix;
		background: $white;
		border-bottom: 1px solid $gray;
		padding-top: 61px;

		@media (max-width: 959px) {
			padding-top: 0;
		}
	}

	@include def-module(footer) {
		@include font(footer);
		padding: 20px;

		h2, strong {
			@include font(footer, bold);
		}

		em {
			@include font(footer, italic);
		}

		a {
			@include font(footer, a);
		}

		@include def-module(left) {
			float: left;
			width: 50%;
			text-align: right;
			padding-right: 10px;
		}

		@include def-module(right) {
			float: right;
			width: 50%;
			text-align: left;
			padding-left: 10px;
		}

		@include def-module(blue) {
			@include font(footer, blue);
		}

		@include def-module(green) {
			@include font(footer, green);
		}

		@include def-module(about) {
			overflow: hidden;
			width: 640px;
			margin: 0 auto;

			p {
				margin-bottom: 20px;
			}
		}

		@include def-module(extra-information) {
			text-align: center;
		}
	}
}
